.li-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.li-wrapper i {
    margin-right: 1rem;
}

.li-wrapper a {
    text-decoration: none;
    color: var(--text);
}

input {
    display: block;
     margin: 0 auto;
    margin-bottom: 1rem;
}

@media (min-width: 568px) {
    .dropdown {
        padding-right: 0.5rem;
    }
}